<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-12">
				<div class="famous">
					<p> Chef Bach Viet Truong, working in collaboration with Tuan Minh ,offer elegant & playful modem British cooking </p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-12">
				<li>HOME</li>
				<li>MENU</li>
				<li>RESERVATION</li>
				<li>SHOP</li>
				<li>NEWS</li>
				<li>CONTACT</li>
				<li>Blog</li>
			</div>
			<div class="col-md-3 col-sm-3 col-12">
				<div class="oder-table">
					<button>ONLINE RESERVATION</button>
				</div>
				<div class="follow">
					<h3>FOLLOW US</h3>
					<div class="social-network">
						<div class="container-fluid">
							<div class="row">
								<div class="fb">
									<%= link_to "#", class: "conect" do %>
										<i class='fab fa-facebook-f' style='font-size:24px'></i>
									<% end %>
								</div>
								<div class="fb">
									<%= link_to "#", class: "conect" do %>
										<i class='fab fa-twitter' style='font-size:24px'></i>
									<% end %>
								</div>
								<div class="fb">
									<%= link_to "#", class: "conect" do %>
										<i class='fab fa-instagram' style='font-size:24px'></i>
									<% end %>
								</div>
								<div class="fb">
									<%= link_to "#", class: "conect" do %>
										<i class='fab fa-youtube' style='font-size:24px'></i>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-12">
				<div class="hotline">
					<h4> + 84 975 861 231 </h4>
					<h4> BOOKINGTABLE @ CHEF.com</h4>
				</div>
				<div class="adress">
					<h4>102 Truong Trinh Streest</h4>
					<h4> Hadinco Aparment</h4>
					<h4> Kang Nam</h4>
					<h4> Royal City</h4>
				</div>
			</div>
		</div>
	</div>
</footer>